* {
    box-sizing: border-box;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.titleCenter {
    text-align: center;
}

.container {
    margin: 0 auto;
    padding: 20px;
    display: flex;
    background: #f0f0f0;
    border-radius: 20px;
    box-shadow: 0px 0px 30px 10px rgba(0, 0, 0, 0.2);
}

.containerLine {
    margin: 10px;
    padding: 50px;
    display: flex;
    background: #f0f0f0;
    border-radius: 20px;
}

.graphContainer {
    width: 1500px;
}